
/*normalizacion*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:700px;
    max-width: 100%;
}

.logo1{
    width: 70px;
    position: relative;
    bottom: 50px;
    left: 830px;
    max-width: 100%;
    
}


/*------------------------*/
/*HEADINGS*/
header>h1{
    height: 150px;
    background-image: url("./archivos_task2/design1_image1.jpg");
    background-position: center;
    background-size: cover;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}

h4{
    font-size: x-large;
}

/* 
.titulo{
    position: absolute;
} */
/*------------------------*/

/*BOTONES*/


.botonActivo{
    text-decoration: none;
    color:black;
    margin-bottom: 20px;
}
nav>a{
    display: block;
    margin-bottom: 20px;
    position: relative;
    bottom: 40px;
}

nav,main{
    display:inline-block;
}


/*------------------------*/

main{
    margin-left: 80px;
    position: relative;
    bottom: 45px;
}

article{
    margin-bottom: 15px;
}
/*extras*/


.fechas{
    font-style: italic;
}

.email{
    text-decoration-color: black;
}

p{
    font-size: x-small;
}
p.sangria{
    text-indent: 13px;
}


