*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}

/* PARTES DEL DOC */

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10%;
    background-color:ghostwhite;
}

main{
    padding: 100px 100px;    
}

footer{
    
    width:100%;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px black;
    text-align:center;
    color:darkorange;
    background-image: url(./img/design1_image1.jpg);
    height:150px;
    background-position: center;
    background-size: cover;
    border: 2px solid slateblue;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.copyright{
    display: inline-block; 
}
#index{
    display:flex;
    justify-content: space-around;
    align-content: space-between;
    
}

.index-main{
    display: inline-flex;
    flex-direction: column;
}

/* IMAGENES */
.banner{
    height: 200px;
    max-width: 100%;
    background-image: url(./img/design1_image2.jpg);
    background-position:top;
    background-size: cover;
}

img{
    width: 150px;
}

.imagen3>img{
    width: 400px;
}

.imagen2-box{
    display: flex;
    justify-content: center;
}
.imagen2{
    width:50%;
}
/* HEADINGS */

h1{
    height: 50px;
    text-align: center;
    font-weight:bold;
    font-size: 3.3rem;
    color: gold;
    background-color: black;
    text-shadow: 1px 2px 1px whitesmoke;
}

h2{
    text-align:center;
    font-size: 3.1rem;
    background-color: black;
    color: gold;
    height: 50px;
    text-shadow: 1px 1px 1px white;
    
}

h4,h3,h5{
    font-size: 2rem;
    text-decoration: underline;
}

.titulo-fall{
    font-style: italic;
    font-weight: 500;
}

h4.rules{
    text-decoration: none;
    font-weight: 500;
}

h5.rules{
    margin-top: 3%;
    text-decoration: none;
    font-weight: bold;
}

/* BOTONES */
.botonActivo{
    background-color:goldenrod;
}

nav{
    display: block;
    align-self: center;
    background-color: teal;
    padding: 5px 0;
}

nav>a{
    text-decoration: none;
    padding: 5px 30px;
    text-align: center;
    background-color: teal;
    color:black;
    font-size: 2rem;
}

/*textos*/
p{
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sangria{
    text-indent: 2%;
}

.fechas{
    font-size: 3rem;
}

article{
    margin: 4%
}

.about{
    text-align: justify;
    margin: 3%;
}

/* #textos{
    /* margin-top: 20px; 
}*/

.email{
    text-decoration: none;
    color: goldenrod;
}

#texto-linea{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;    
}

.caja-fall>p{
    text-indent: 0;
    margin-bottom: 2%;
}

.caja-phone{
    display:inline-block;
    width: 250px;
}

.caja-email{
    display: inline-block;
    width: 400px;
}

.sports{
    text-indent: 6%;
    font-size: 1.7rem;
    margin-bottom: 4%;
}

.caps{
    text-transform: uppercase;
}

/*Tabla*/

td,th{
    font-size: 2rem;
    text-align:start;
}

table{
    width:90%;
    border-spacing: 20px 10px;
    margin: 10px 0 100px 0;
}

.date{
    text-align: center;
}

/*Listas*/

ol>li{
    font-size: 1.6rem;
    margin-bottom: 2%;
}

ul>li{
    font-size: 1.6rem;
    margin-left: 10%;
}

/* Mapas */

.maps{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}

.maps>div{
    border: 1px solid black;
    margin: 30px 3px 0px 3px;
    padding: 10px;
}

td>a{
    text-decoration: none;
}

.ajk{
    color:teal;
    background-color: khaki;
}
.mph{
    color:darkblue;
    background-color: salmon;
}

.nth{
    color: orange;
    background-color: darkslateblue;
}

.sth{
    color:seashell;
    background-color: darkred;
}

.hay{
    color: violet;
    background-color:darkslategray ;
}
.gby{
    color:gold;
    background-color:green ;
}

/*Formulario*/

fieldset{
    margin:20px 0;
    padding: 10px;
    border: 1px solid darkslateblue;
}

legend, label, option{
    font-size: 2em;
    vertical-align: baseline;
}

fieldset>p{
    font-size: 1.8em;
}

.text-box{
    width:10vw;
    height: 3vh;
    margin:0 15px 15px 15px;
    font-size: 2vh;
}

.gender{
    width:5vw;
    height: 3vh;
    margin-right: 8vw;
    font-size: 2vh;
    vertical-align: top;
}

.grade{
    width:5vw;
    height: 3vh;
    margin-right: 2vw;
    vertical-align: top;
}

.school{
    width:5vw;
    height: 3vh;
    margin-right: 2vw;
    margin-bottom: 2vh;
    vertical-align: top;
}
.closest{
    font-size: 3vh;
}

.position{
    width:5vw;
    height: 3vh;
    margin-right: 2vw;
    vertical-align: top;
}

.uniform{
    width:4vw;
    height: 2vh;
    margin-right: 1vw;
    vertical-align: baseline;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.send-butt{
    padding: 7px;
    font-size: 2vh;
    background-color:royalblue;
    color: darkorange;
}

.reset-butt{
    padding: 7px;
    font-size: 2vh;
    background-color:khaki;
    color:seagreen;
}


@media screen {
    
}